html {
  scroll-behavior: smooth;
}
body{
	background-image: url("topography.png");
	background-repeat: repeat;
	font-family: 'Livvic', sans-serif;
}
/*	loader	*/
.subloader {
  position: relative;
  width: 80px;
  margin: 100px auto;
}

.duo {
  height: 20px;
  width: 50px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;
  
}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px
}


.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #eee;
  position: absolute;
}

.dot-a {
  left: 0px;  
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(180deg) }
  100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}
/*	koniec loadera	*/
.niewidoczny{
	display: none;
}
.display-3{
	font-size: 2.5rem;
}
.fejd{
	background: linear-gradient(20deg, #1b1f3b, #365dc4);
	background-size: 150% 150%;
	}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.bg-dark{
	transition: 250ms ease;
	background: transparent !important;
}
.scrolled{
	background: #1B1F3B !important;
}
.jumbotron{
	/*background-color: #E9F1F7;*/
	padding: 2rem 2rem;
}
.purple{
	color: #1B1F3B;
}
.lpurple{
	color: #F2F5FD;
}
.blue{
	color: #365dc4;
}
.list-group-item{
	background-color: transparent;
}
/*[class*="col-"] {
    padding: 1rem;
}*/
#loader {
    width: 100%;
    height: 100vh;
    background-color: #1B1F3B;
    align-content: center center;
    position: absolute;
}
#obraz {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* button */
::-webkit-scrollbar-button {
    background: #222;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background: #333;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #000;
}
 
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000;
}
 
/* Corner */
::-webkit-scrollbar-corner {
    background: #999;
}
 
/* Resizer */
::-webkit-resizer {
    background: #111;
}

